@-webkit-keyframes fadeButton {
  from {
  }
  to {
    background: #e68b08;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes fadeButton {
  from {
  }
  to {
    background: #e68b08;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.logoImage {
  width: 100px;
}

@media screen and (min-width: 768px) {
  .logoImage {
    width: 150px;
  }
}

button {
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  background: #b26e9b;
  color: #F0FFFF;
  cursor: pointer;
  border: 2px solid #FBBBB9;
}

button a {
  text-decoration: none;
  color: #F0FFFF;
}

button:hover {
  -webkit-animation: fadeButton 0.5s both;
          animation: fadeButton 0.5s both;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, right top, left top, from(#8f5bfe), to(#e68b08));
  background: linear-gradient(to left, #8f5bfe 0%, #e68b08 100%);
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.footer__links a {
  text-decoration: none;
  font-size: 1.5em;
  color: #F0FFFF;
  margin-right: 15px;
}

.footer__details {
  text-align: center;
}

nav {
  padding: 10px;
  background: -webkit-gradient(linear, right top, left top, from(#8f5bfe), to(#e68b08));
  background: linear-gradient(to left, #8f5bfe 0%, #e68b08 100%);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #F0FFFF;
  text-decoration: none;
  font-size: 1.2rem;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#8f5bfe), to(#e68b08));
  background: linear-gradient(to right, #8f5bfe 0%, #e68b08 100%);
  padding: 20px;
}

#content #listDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#8f5bfe), to(#e68b08));
  background: linear-gradient(to left, #8f5bfe 0%, #e68b08 100%);
  border: 4px solid #FBBBB9;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  width: 500px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #content #listDiv {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  #content #listDiv {
    width: 500px;
  }
}

#content #listDiv #name {
  color: #F0FFFF;
  font-size: 1.9em;
  margin-right: auto;
}

#content #listDiv #price {
  width: 70px;
  background-color: #F0FFFF;
  color: linear-gradient(to right, #8f5bfe 0%, #e68b08 100%);
  border-radius: 15px;
  padding: 15px;
}

#product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#8f5bfe), to(#e68b08));
  background: linear-gradient(to right, #8f5bfe 0%, #e68b08 100%);
  padding: 40px;
}

#product #productCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product #name {
  font-size: 3em;
  color: #F0FFFF;
  margin-bottom: 20px;
}

#product #price {
  font-weight: bolder;
  background-color: #F0FFFF;
  padding: 10px;
  border-radius: 15px;
}

#product p {
  background-color: #F0FFFF;
  padding: 10px;
  margin-top: 10px;
}

#product #selectColor {
  background: #e68b08;
  color: #F0FFFF;
  font-size: 1em;
  margin-bottom: 80px;
}

#product option {
  color: #F0FFFF;
  background: #e68b08;
}

#product img {
  width: 400px;
  border: 4px solid red;
  border-radius: 15px;
  margin: 20px;
}

#cartDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: -webkit-gradient(linear, left top, right top, from(#8f5bfe), to(#e68b08));
  background: linear-gradient(to right, #8f5bfe 0%, #e68b08 100%);
  padding: 20px;
}

#cartDiv #empty {
  color: #F0FFFF;
  font-size: 2.5em;
}

#cartDiv #cartItem {
  padding: 10px;
  text-align: center;
}

#cartDiv #cartItem #item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid red;
  background: -webkit-gradient(linear, right top, left top, from(#8f5bfe), to(#e68b08));
  background: linear-gradient(to left, #8f5bfe 0%, #e68b08 100%);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 5px;
}

@media (min-width: 1024px) {
  #cartDiv #cartItem #item {
    width: 400px;
  }
}

#cartDiv #cartItem #name {
  color: #F0FFFF;
  font-size: 1.5em;
  margin-right: 5px;
}

#cartDiv #cartItem #color {
  color: #F0FFFF;
  font-size: 1.2em;
  margin: 0 15px 0 5px;
}

#cartDiv #cartItem #price {
  width: 70px;
  margin-left: auto;
  background: -webkit-gradient(linear, left top, right top, from(#8f5bfe), to(#e68b08));
  background: linear-gradient(to right, #8f5bfe 0%, #e68b08 100%);
  color: #F0FFFF;
  border-radius: 15px;
  padding: 5px;
}

#cartDiv #totalPrice {
  background: -webkit-gradient(linear, right top, left top, from(#8f5bfe), to(#e68b08));
  background: linear-gradient(to left, #8f5bfe 0%, #e68b08 100%);
  border: 4px solid #FBBBB9;
  color: #F0FFFF;
  padding: 20px;
}

@media (min-width: 1024px) {
  #cartDiv #totalPrice {
    padding: 50px;
  }
}

#emptyCartContainer {
  background: -webkit-gradient(linear, left top, right top, from(#8f5bfe), to(#e68b08));
  background: linear-gradient(to right, #8f5bfe 0%, #e68b08 100%);
  text-align: center;
}

#orderForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #bd747d;
  border: 4px solid linear-gradient(to left, #8f5bfe 0%, #e68b08 100%);
  color: linear-gradient(to left, #8f5bfe 0%, #e68b08 100%);
}

#orderForm h1 {
  background-color: linear-gradient(to left, #8f5bfe 0%, #e68b08 100%);
  font-size: 1.4em;
  margin: 15px;
  padding: 10px;
  border-bottom: 4px solid #FBBBB9;
  color: #F0FFFF;
}

#orderForm input {
  margin: 10px;
  padding: 5px;
  font-size: 1.2em;
}

#orderForm .invalid {
  border: 4px solid red;
}

#orderForm span {
  color: #F0FFFF;
  font-weight: bold;
}

.hidden {
  display: none;
}

#recapDisplay {
  color: #F0FFFF;
  background: -webkit-gradient(linear, left top, right top, from(#8f5bfe), to(#e68b08));
  background: linear-gradient(to right, #8f5bfe 0%, #e68b08 100%);
  padding: 40px;
  text-align: center;
  line-height: 2;
  font-size: 1.4em;
}

#recapDisplay .bold {
  font-weight: bold;
  font-size: 1.2em;
  color: #e68b08;
}
/*# sourceMappingURL=style.css.map */