$main: linear-gradient(to left, #8f5bfe 0%, #e68b08 100%);
$second: linear-gradient(to right, #8f5bfe 0%, #e68b08 100%);
$third: #bd747d;
$fourth: #e68b08;
$black: #261624;
$white: #F0FFFF;
$red: #FBBBB9;
$btnBgrnd: #b26e9b;

