#containerRecapOrder {
    padding: 40px;
    text-align: center;
    color: $main;
    line-height: 2;
    font-size: 1.2em;
    .bold {
        font-weight: bold;
        font-size: large ;
        color: $red;
    }
}
