.footer {
  background: $main;
  color: $white;

  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;

    a {
      text-decoration: none;
      font-size: 1.5em;
      color: $white;
    }
  }
  &__details {
    text-align: center;
    margin-top: 10px;
    .fa {
      color: $fourth;
    }
    a {
      color: $white;
    }
  }
}
