* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logoImage {
    width: 100px;
    @media screen and (min-width: 768px) {
        width: 150px;
    }
}