button {
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  background: $btnBgrnd;
  color: $white;
  cursor: pointer;
  border: 2px solid $red;
  a {
    text-decoration: none;
    color: $white;
  }
  &:hover {
    animation: fadeButton 0.5s both;
  }
}
